.navbutton{
    font-size: 35px;
    cursor: pointer;
    width: fit-content;
    padding: 0px 0px 0px 5px;
    -webkit-text-stroke: 1px black;
    color: white;
    top: -3px;
    position: fixed;
    z-index: 1;
}

.topscroll{
top: 6px;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -260px;
    background-color: #1a1a1a;
    overflow-x: hidden;
    transition: 0.38s;
    z-index: 19;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    -webkit-text-stroke: 2px black;

}

.sidenav a:hover {
    color: #07ffed;
    transition: 0.3s;
    text-shadow: #ffffff 3px 3px;
    font-size: 26px;

}


.sidenav .closebtn {
    right: 25px;
    text-align: center;
    font-size: 26px;
    padding: 0px;
    margin: 6px 5px 8px 196px;
    background-color: #fffffff5;
    color: red;
    border-radius: 7px;
    -webkit-text-stroke: 2px black;
    border: 2px solid #3c00ff;
    padding-bottom: 9px;
}

.sidenavborder {
    border-right: 3px solid #ffffff;
}

.sidenav a.active{
    color: rgb(141, 250, 174);

}
.backgroundblur{
    position: fixed;
    background: #737373;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .9;
    transition: 0.3s;
}
.navblurclose{
    z-index: 8;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

